/* Estilos generales para el cuerpo y HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilos para el fondo de la página */
.background {
    background-image: url('Imagenes/BackLadrillos.jpg'); /* Imagen de fondo */
    background-repeat: repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor de la consola */
.console-container {
    position: relative;
    width: 1100px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el fondo de la consola */
.console-background {
    position: absolute;
    top: 0;
    left: 2;
    width: 30%;
    height: 50%;
    background-color: rgba(0, 0, 0); /* Color de fondo con opacidad */
}

/* Estilos para la consola */
.console {
    position: relative;
    z-index: 1;
    background-image: url('Imagenes/ConsolaRetro.png'); /* Imagen de fondo de la consola */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; /* Ajuste del espacio superior */
    background-size: contain; /* Tamaño de la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    margin-left: 200px; /* Ajuste de margen izquierdo */
    margin-top: 50px; /* Ajuste de margen superior */
}

/* Estilos para el botón de inicio */
.start-button {
    background-color: black; /* Color de fondo negro */
    color: #ffffff; /* Color del texto blanco */
    padding: 40px 60px; /* Espaciado interno */
    font-size: 25px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08); /* Sombra */
   /* position: absolute; /* Posición absoluta */
   margin-right: 250px; /* Ajuste de margen derecho */
   margin-top: 50px; /* Ajuste de margen superior */
transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
}

/* Estilos cuando se pasa el mouse sobre el botón */
.start-button:hover {
    transform: translateY(-2px); /* Efecto de levantamiento */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff); /* Cambio de color de fondo con gradiente */
    background-size: 200% 200%;
    animation: gradientAnimation 2s infinite alternate; /* Animación del gradiente */
}

/* Animación del gradiente */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/* Estilos para las opciones */
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px; /* Ajuste de posición vertical */
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos para los botones de opciones */
.options button {
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: black; /* Color de fondo de los botones de opciones */
    color: #fff; /* Color del texto */
    border: 1px solid #888; /* Borde */
    border-radius: 12px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    margin-right: 250px; /* Ajuste de margen derecho */
    margin-top: 5px; /* Ajuste de margen superior */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave, igual que el botón "Start" */
}

/* Estilos cuando se pasa el mouse sobre los botones de opciones */
.options button:hover {
    transform: translateY(-2px); /* Efecto de levantamiento */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff); /* Cambio de color de fondo con gradiente */
    background-size: 200% 200%;
    animation: gradientAnimation 2s infinite alternate; /* Animación del gradiente */
}


/* Clase para ocultar elementos */
.hidden {
    display: none;
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    margin: 5% auto; /* Margen del contenido */
    padding: 5px; /* Espaciado interno */
    border: 2px solid #888; /* Borde */
    width: 70%; /*Ancho*/
    height: 70%; /*Alto*/
    max-height: 90%; /* Altura máxima del modal */
    overflow-y: auto; /* Scroll vertical si es necesario */
    position: relative; /* Posicionamiento relativo */
}

/* Estilos para el botón de cierre del modal */
.close {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
}

/* Contenedor para la imagen de perfil en la esquina superior derecha */
.profile-container {
    position: absolute;
    top: 70px;
    right: 70px;
}

/* Estilos para la imagen de perfil */
.profile-picture {
    width: 150px;/* Ancho aumentado */
    height: 150px;/* Altura aumentada */
    background-color: #ccc; /* Color de fondo de la imagen */
    border-radius: 50%; /* Borde redondeado para formar un círculo */
    overflow: hidden; /* Oculta cualquier contenido adicional */
    border: 2px solid #fff; /* Borde blanco */
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 50); /* Sombra blanca */
}

/* Estilos para la imagen de perfil dentro del contenedor */
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
}

/* Estilos para el texto en H2 */
.modal-content h2 {
    font-family: 'Arial', sans-serif; /* Cambiar la fuente del texto */
}

/* Estilos para el panel "Sobre Mí" */
#sobre-mi-content {
    padding-top: 100px; /* Ajustar el espacio superior */
}

/* Estilos para el texto dentro de la sección "Sobre Mí" */
#sobre-mi-content h1 {
    font-size: 35px; /* Tamaño de fuente para H1 */
}

#sobre-mi-content h2 {
    font-size: 25px; /* Tamaño de fuente para H2 */
}

#sobre-mi-content p {
    font-size: 17px; /* Tamaño de fuente para párrafos */
}


/*agregados 04/04/2023*/

.videoContainer {
    position: relative;
    width: 500px; /* Ancho del video */
    height: 300px; /* Altura del video */
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.videoContainer video {
    position: absolute;
    width: 100%; /* Ancho del video al 100% del contenedor */
    height: 100%; /* Altura del video al 100% del contenedor */
    left: 0;
    top: 0;
    cursor: pointer; /* Cambia el cursor al pasar sobre el video */
}

.project{

    margin: 10px;
}

/*agregados 05/04/2023*/

/* Estilos para los elementos de contacto */
.contact-info {
    margin-top: 20px;
}

.contact-item {
    margin-bottom: 20px;/* Incrementa el espacio entre los elementos */
    font-size: 20px; /* Aumenta el tamaño del texto */
}

.contact-item .fab.fa-linkedin,
.contact-item .far.fa-file-pdf {
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

.contact-info a {
    margin-left: 5px; /* Ajusta el margen izquierdo de los enlaces */
}
.contact-item .fab,
.contact-item .far {
    font-size: 30px; /* Cambiar el tamaño de los iconos */
    color: white; /* Color del texto de los iconos */
}

/* Cambiar el color solo de los enlaces específicos */
.contact-item a[href="https://www.linkedin.com/in/hernanmoreyra-75764b154"],
.contact-item a[href="https://wa.me/1161484909"],
.contact-item a[href^="mailto:"],
.contact-item a[href$=".pdf"] {
    color: blue; /* Cambia el color de los enlaces específicos */
}

/* Estilos para el párrafo verde */
.contacto-p {
    color: grey; /* Color del texto verde */
}

.contact-item .fab.fa-linkedin {
    color: #0077B5; /* Color para el icono de LinkedIn */
}

.contact-item .far.fa-file-pdf {
    color: #FF0000; /* Color para el icono de PDF */
}

.contact-item .fab.fa-whatsapp {
    color: #25D366; /* Color para el icono de WhatsApp */
}
.contact-item .far.fa-envelope {
    color: #DB4437; /* Color para el icono de Gmail */
}
/* Estilos para el contenedor del logo en el modal */
.logo-container-contacto {
    position: absolute; /* Cambia a posición absoluta */
    top: 50%; /* Coloca el contenedor en el centro vertical */
    left: 50%; /* Coloca el contenedor en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el contenedor exactamente en el medio */
}


/* Estilos para el logo */
.logo {
    max-width: 200px; /* Ancho máximo del logo */
    max-height: 200px; /* Altura máxima del logo */
}
/* Estilos generales para el cuerpo y HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Oculta cualquier contenido adicional */
}

/* Estilos para el texto de copyright en el modal "Sobre Mí" */
.logo-content #copyright-sobre-mi {
    font-size: 9px;
}

/* Estilos para el contenedor del logo en el modal */
.logo-container {
    position: absolute; /* Cambia a posición absoluta */
    top: 80%; /* Coloca el contenedor en el centro vertical */
    left: 50%; /* Coloca el contenedor en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el contenedor exactamente en el medio */
}

/* Estilos para el logo */
.footer-logo {
    width: 100px; /* Tamaño mediano para la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    display: block; /* Ajusta el comportamiento de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para el contenedor de habilidades y cursos */
.skills-courses-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    margin-top: 20px; /* Ajusta el margen superior */
}

/* Estilos para el contenedor de la lista de habilidades */
.skills-list {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Ajusta el margen derecho entre la lista de habilidades y la lista de cursos */
}

/* Estilos para el contenedor de la lista de cursos */
.course-list-container {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-top: -60px; /* Ajusta el margen superior para subir el contenedor */
}

/* Estilos para las listas de habilidades y cursos */
ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding-left: 20px; /* Elimina el relleno predeterminado de la lista */
}

.course-list {
    margin-top: 0; /* Elimina el margen superior de la primera lista de cursos */
}

/* Estilos para el texto de la lista */
.skills-list li {
    font-size: 18px; /* Tamaño de la fuente */
    margin-bottom: 5px; /* Espaciado inferior entre los elementos de la lista */
}
/* Iconos */
.fa {
    margin-right: 10px;
    font-size: 24px;
}
/*Colore Iconos*/
.fa-java {
    color: #007396; /* Color para el icono de Java */
}

.fa-js {
    color: #f7df1e; /* Color para el icono de JavaScript */
}

.fa-react {
    color: #61dafb; /* Color para el icono de React */
}

.fa-html5 {
    color: #e34f26; /* Color para el icono de HTML */
}

.fa-css3-alt {
    color: #264de4; /* Color para el icono de CSS */
}

.fa-cuttlefish {
    color: #239120; /* Color para el icono de C# */
}

.fa-unity {
    color: white; /* Color para el icono de Unity */
}

.fa-database {
    color: #4479a1; /* Color para el icono de MySQL */
}


/* Lista de habilidades */
.skills-list ul li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 24px;
}
/* Lista de cursos */
.course-list {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Iconos */
.fa,
.fas {
    margin-right: 10px;
    font-size: 18px;
    color: blue;
}
/*Primera Fase Flex */
/* Cambio de fondo para pantallas  medianas */
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .background {
        background-image: url('Imagenes/ConsolaRetro.png'); /* Cambia la imagen de fondo en pantallas pequeñas */
        background-repeat: no-repeat; /* Evita la repetición de la imagen */
        background-size: 65%; /* Ajusta el tamaño de la imagen para que quepa */
        background-position: center center; /* Centra la imagen en la pantalla */
        background-color: black; /* Cambia el color de fondo a negro */
        margin-top: 0px;
    }

    /* Estilos para la consola en pantallas  medianas */
    .console {
        background: none; /* Elimina la imagen de fondo */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: -50px; /* Elimina el margen superior */
        width: 90%; /* Ancho del contenedor de la consola */
        height: 50%; /* Altura del contenedor de la consola */
        padding: 0px; /* Añade relleno alrededor del contenido */
    }

    /* Inhabilitar el fondo de la consola en pantallas pequeñas y medianas */
    .console-background {
        display: none; /* Oculta el elemento que define el fondo */
    }

    .options {
        margin-left: 110px;
        top: -50px; /* Ajuste de posición vertical */
        transform: translateX(-50%);
    }

    .start-button {
        margin-left: 400px;
        margin-top: 0px; /* Ajuste de posición vertical */
        transform: translateX(-50%);
    }

    .modal-content {
        margin: 2% auto; /* Margen del contenido */
        padding: 5px; /* Espaciado interno */
        border: 2px solid #888; /* Borde */
        width: 100%; /* Ancho */
        height: 100%; /* Alto */
        max-height: 100%; /* Altura máxima del modal */
        overflow-y: auto; /* Scroll vertical si es necesario */
        position: relative; /* Posicionamiento relativo */
    }

    .profile-picture {
        width: 150px; /* Ancho aumentado */
        height: 140px; /* Altura aumentada */
    }

    .videoContainer {
        position: relative;
        width: 250px; /* Ancho del video */
        height: 150px; /* Altura del video */
    }

    .logo-container-contacto {
        position: absolute; /* Cambia a posición absoluta */
        top: 80%; /* Coloca el contenedor en el centro vertical */
        left: 50%; /* Coloca el contenedor en el centro horizontal */
        transform: translate(-50%, -50%); /* Centra el contenedor exactamente en el medio */
    }
}

/*Segunda Fase Flex*/
/* Cambio de fondo para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .background {
        background-image: url('Imagenes/ConsolaRetro.png'); /* Cambia la imagen de fondo en pantallas pequeñas */
        background-repeat: no-repeat; /* Evita la repetición de la imagen */
        background-size: 140%; /* Ajusta el tamaño de la imagen para que quepa */
        background-position: center center; /* Centra la imagen en la pantalla */
        background-color: black; /* Cambia el color de fondo a negro */
    }

    /* Estilos para la consola en pantallas pequeñas */
    .console {
        background: none; /* Elimina la imagen de fondo */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 0; /* Elimina el margen superior */
        width: 50%; /* Ancho del contenedor de la consola */
        height: 50%; /* Altura del contenedor de la consola */
        padding: 0px; /* Añade relleno alrededor del contenido */
    }

    /* Inhabilitar el fondo de la consola en pantallas pequeñas */
    .console-background {
        display: none; /* Oculta el elemento que define el fondo */
    }
    .options {
        margin-left: 110px;
        top: -80px; /* Ajuste de posición vertical */
        transform: translateX(-50%);
    }

    .start-button {
        margin-left: 400px;
        margin-top: -50px; /* Ajuste de posición vertical */
        transform: translateX(-50%);
    }
    .modal-content {
        
        margin: 1% auto; /* Margen del contenido */
        padding: 5px; /* Espaciado interno */
        border: 2px solid #888; /* Borde */
        width: 100%; /*Ancho*/
        height: 100%; /*Alto*/
        max-height: 100%; /* Altura máxima del modal */
        overflow-y: auto; /* Scroll vertical si es necesario */
        position: relative; /* Posicionamiento relativo */
    }

    .profile-picture {
        width: 100px;/* Ancho aumentado */
        height: 90px;/* Altura aumentada */
    }

    .videoContainer {
        position: relative;
        width: 250px; /* Ancho del video */
        height: 150px; /* Altura del video */
        
    }
    .logo-container-contacto {
        position: absolute; /* Cambia a posición absoluta */
        top: 80%; /* Coloca el contenedor en el centro vertical */
        left: 50%; /* Coloca el contenedor en el centro horizontal */
        transform: translate(-50%, -50%); /* Centra el contenedor exactamente en el medio */
    }
   
}
